{% load static %}
<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/tous.css' %}">
    <title>DOOF</title>
</head>

<script>
    function Able(div) {
        const b = document.querySelector('body');
        const mob = document.querySelector(div);
        if (mob.style.display != 'flex') {
            mob.style.display = 'flex';
            b.style.overflowY = 'hidden';
        } else {
            mob.style.display = 'None';
            b.style.overflowY = 'auto';
        }
    }
</script>

<body>
    <div id="nav">
        <svg onclick="Able('#mob')" id="hamburger" width="35" height="25" viewBox="0 0 35 25" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1H33.3125V3.9375H1V1Z" fill="#1C2833" />
            <path d="M1 10.7917H33.3125V13.7292H1V10.7917Z" fill="#1C2833" />
            <path d="M1 20.5833H33.3125V23.5208H1V20.5833Z" fill="#1C2833" />
        </svg>
        <a href="{% url 'index' %}" id="doof">DOOF</a>
        <div id="link">
            <a id="lienActif" href="{% url 'index' %}">Accueil</a>
            <a id="lien" href="{% url 'tous' %}">Carte</a>
            <a id="lien" href="{% url 'recette' %}">Recette</a>
        </div>
        <form id="searchForm" autocomplete="off" action="{% url 'recherche' %}" method="POST">
            <div id="divSearch">
            {% csrf_token %}
                <input placeholder="Rechercher" name="r" id="search" type="text">
            </div>
        </form>
        <div id="mob">
            <form id="formMob" autocomplete="off" action="{% url 'recherche' %}" method="POST">
                {% csrf_token %}
                <input placeholder="Rechercher" name="r" id="searchMob" type="text">
            </form>
            
            <div id="linkMob">
                <a id="lienActifMob" href="{% url 'index' %}">Accueil</a>
                <a id="lienMob" href="{% url 'tous' %}">Carte</a>
                <a id="lienMob" href="{% url 'recette' %}">Recette</a>
            </div>
        </div>
    </div>

    <div id="container">
        {% block body %}{% endblock body %}
    </div>
    </div>
<div id="foot">
    <div id="logo"> <img src="{% static 'img/LogoBlanc.png' %}" id="logoImg" alt="logo"></div>
    <div id="copy">Doof© 2021</div>
</div>
</body>


</html>