{% extends "menu/layout.html" %}
{% load static %}

{% block body %}
<script>
    function Show(el) {
        const list = document.querySelector(el);
        console.log(list.style.display)
        if (list.style.display != "none") {
            list.style.display = "none";
        } else {
            list.style.display = "flex";
        }
    }
</script>

<img id="back" src="{% static 'img/Separation.png' %}" alt="Fond">
<img id="backMob" src="{% static 'img/SeparationMob.png' %}" alt="Fond">

<div id="spec">
    <p id="al">{{al1}}</p>
    <p id="nt"><span style="color: rgb(59, 68, 80);">{% if nutr1 != -1 %}{{nutr1}}</span>/100{% endif %}</p>
    <p id="al">{% if al2 != 'None' %}{{al2}}{% endif %}</p>
    <p id="nt"><span style="color: rgb(59, 68, 80);">{% if nutr2 != -1 %}{{nutr2}}</span>/100{% endif %}</p>
    <p id="com">{% if com != 'None' %}{{com}}{% else %}<span style="color: rgb(110, 110, 110);">Aucune remarque pour ce repas</span> {% endif %}</p>
</div>

<div id="cat">
    <div onclick="Show('#midiUL')" id="titre">Menu pour le midi</div>
    <div id="midiUL" class="list">
        {% for m in liste_menu_midi %}
        <a id="el" href={% url 'spec' m.id %}>{{m.aliment1}} {% if m.aliment2 != 'None' %}{{m.aliment2}}{% endif %}</a>
        {% endfor %}
    </div>
</div>
<div id="cat">
    <div onclick="Show('#soirUL')" id="titre">Menu pour le soir</div>
    <div id="soirUL" class="list">
        {% for m in liste_menu_soir %}
        <a id="el" href={% url 'spec' m.id %}>{{m.aliment1}} {% if m.aliment2 != 'None' %}{{m.aliment2}}{% endif %}</a>
        {% endfor %}
    </div>
</div>
{% endblock body %}